force-app/main/default/flows/Agent_Script_After_Create_or_Update_Set_Active.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Karabiner_Elements_Script</name>
        <label>Generate Karabiner Elements Script</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>xDO_Create_Karabiner_Elements_Script</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_Agent_Script</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:agentforceScript</name>
            <value>
                <elementReference>$Record.xDO_Script__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>xDO_Create_Karabiner_Elements_Script</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Agent Script | After Create or Update | Set Active {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Script | After Create or Update | Set Active</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Active_Agent_Script_to_Inactive</name>
        <label>Update Active Agent Script to Inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Karabiner_Elements_Script</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xDO_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>xDO_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>xDO_Agent_Script__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agent_Script</name>
        <label>Update Agent Script</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>xDO_Karabiner_Elements_Script__c</field>
            <value>
                <elementReference>Generate_Karabiner_Elements_Script.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Active_Agent_Script_to_Inactive</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xDO_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>xDO_Agent_Script__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
